.Input {
	min-inline-size: 0;
}

.Input label small {
	display: block;
}

/* Text */

.Input--text {
	display: flex;
	flex-direction: column;
}

.Input--text label {
	padding-block-end: 0.25rem;
}

.Input--text input {
	background: var(--color-box);
	border: var(--border-interactive);
	border-radius: var(--border-radius);
	color: var(--color-on-box);
	padding-block: 0.75rem;
	padding-inline: 1rem;
}

/* Checkbox */

.Input--checkbox {
	--size: 1.625rem;

	display: flex;
}

.Input--checkbox label {
	align-items: center;
	border-radius: var(--border-radius);
	display: flex;
	flex-grow: 1;
	gap: 0.5rem;
}

.Input--checkbox label::before {
	background: var(--background, var(--color-box));
	block-size: var(--size);
	border: var(--border-interactive);
	border-radius: var(--border-radius);
	color: var(--foreground, var(--color-on-box));
	content: "";
	font-size: 1.75rem;
	inline-size: var(--size);
	line-height: calc(var(--size) * 0.8);
	text-align: center;
}

.Input--checkbox input:focus-visible + label {
	outline: var(--outline-focus);
	outline-offset: 0.25rem;
}

.Input--checkbox input:checked + label::before {
	content: "×";
}

@supports (content: "" / "") {
	.Input--checkbox input:checked + label::before {
		content: "×" / "";
	}
}

.Input--checkbox input {
	block-size: var(--size);
	inline-size: var(--size);
	opacity: 0.01;
	position: absolute;
}
