.Search {
	display: grid;
}

@media (width < 52rem) {
	.Search {
		gap: 2rem;
	}
}

@media (52rem <= width) {
	.Search {
		gap: 3rem;
		grid-template-columns: 1fr 3fr;
	}
}

.Search-form,
.Search-flags {
	align-content: start;
	display: grid;
	gap: 1rem;
}

.Search-list {
	display: grid;
	gap: clamp(1rem, 4vi, 2rem);
	grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
	list-style: none;
}

.Search-item {
	border: var(--border-divider);
	border-radius: var(--border-radius);
	display: flex;
	flex-direction: column;
}

.Search-itemLink {
	align-items: end;
	border-block-start: var(--border-divider);
	display: flex;
	flex-grow: 1;
	outline-offset: 0;
	padding: 1rem;
}

.Search-itemFlag {
	border-start-end-radius: calc(var(--border-radius) * 0.8);
	border-start-start-radius: calc(var(--border-radius) * 0.8);
	inline-size: 100%;
}

@supports selector(:has(a)) {
	.Search-list:has(> :not([hidden])) + .Search-noResult {
		display: none;
	}
}

@supports not selector(:has(a)) {
	.Search-noResult {
		display: none;
	}
}
