.Search {
	display: grid;
}

@media (width < 52rem) {
	.Search {
		gap: 2rem;
	}
}

@media (52rem <= width) {
	.Search {
		gap: 3rem;
		grid-template-columns: 1fr 3fr;
	}
}

.Search-form,
.Search-flags {
	align-content: start;
	display: grid;
	gap: 1rem;
}

.Search-list {
	display: grid;
	gap: clamp(1.5rem, 4vi, 2rem);
	grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
	list-style: none;
}

.Search-itemLink {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.Search-itemFlag {
	inline-size: 100%;
}

@supports selector(:has(a)) {
	.Search-list:has(> :not([hidden])) + .Search-noResult {
		display: none;
	}
}

@supports not selector(:has(a)) {
	.Search-noResult {
		display: none;
	}
}
