.Search-formHeader {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.Search-list {
	display: grid;
	gap: 2rem;
	grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
	list-style: none;
}

.Search-item {
	border: var(--border-divider);
	border-radius: var(--border-radius);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.Search-itemLink {
	padding: 1rem;
	z-index: 1;
}

.Search-itemFlag {
	border-end-end-radius: calc(var(--border-radius) * 0.8);
	border-end-start-radius: calc(var(--border-radius) * 0.8);
	inline-size: 100%;
}
