.Search-formHeader {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.Search-list {
	display: grid;
	gap: clamp(1rem, 4vi, 2rem);
	grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
	list-style: none;
}

.Search-item {
	border: var(--border-divider);
	border-radius: var(--border-radius);
	display: flex;
	flex-direction: column;
}

.Search-itemLink {
	align-items: end;
	border-block-start: var(--border-divider);
	color: inherit;
	display: flex;
	flex-grow: 1;
	padding: 1rem;
	z-index: currentcolor;
}

.Search-itemFlag {
	border-start-end-radius: calc(var(--border-radius) * 0.8);
	border-start-start-radius: calc(var(--border-radius) * 0.8);
	inline-size: 100%;
}
