*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scrollbar-gutter: stable;
}

body {
	background: var(--color-background);
	color: var(--color-text);
	display: flex;
	flex-direction: column;
	font-family: system-ui, sans-serif;
	line-height: 1.5;
	min-block-size: 100dvb;
}

main {
	margin-block-end: auto;
	padding-block: 2rem 3rem;
}

input,
button {
	font: inherit;
}

button,
label,
[type="checkbox"] {
	cursor: pointer;
}

button {
	border: var(--border-interactive);
	border-radius: var(--border-radius);
	padding-block: 0.75rem;
	padding-inline: 1rem;
}

a {
	color: currentcolor;
}

ul:not([class]) {
	padding-inline-start: 1rem;
}

dl:not([class]) {
	display: grid;
	gap: 1rem;

	& dt {
		font-size: 0.875rem;
		margin-block-end: 0.125rem;
	}
}

img {
	block-size: auto;
	max-inline-size: 100%;
	vertical-align: middle;
}

:focus-visible {
	border-radius: var(--border-radius);
	outline: var(--outline-focus);
	outline-offset: 0.125rem;
}
