*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scrollbar-gutter: stable;
}

body {
	background: var(--color-background);
	color: var(--color-text);
	display: flex;
	flex-direction: column;
	font-family: system-ui, sans-serif;
	line-height: 1.5;
	min-block-size: 100dvb;
}

main {
	margin-block-end: auto;
	padding-block: 1rem 3rem;
}

input,
button {
	font: inherit;
}

button,
summary,
label,
[type="checkbox"] {
	cursor: pointer;
}

button {
	background: var(--color-button);
	border: var(--border-interactive);
	border-radius: var(--border-radius);
	color: var(--color-on-button);
	padding-block: 0.75rem;
	padding-inline: 1rem;
}

summary > * {
	display: inline;
	vertical-align: middle;
}

img {
	block-size: auto;
	max-inline-size: 100%;
	vertical-align: middle;
}

:focus-visible {
	border-radius: var(--border-radius);
	outline: var(--outline-focus);
	outline-offset: 0.125rem;
}
