:root {
	/* Borders */

	--border-divider: 0.0625rem solid var(--color-border-divider);
	--border-interactive: 0.0625rem solid var(--color-border-interactive);

	--border-radius: 0.25rem;

	/* Outlines */

	--outline-focus: 0.1875rem solid light-dark(hsl(40deg 90% 50%), hsl(40deg 90% 50%));

	/* Colors */

	--color-background: light-dark(hsl(0deg 0% 100%), hsl(200deg 5% 5%));
	--color-text: light-dark(hsl(200deg 10% 10%), hsl(200deg 5% 90%));

	--color-banner: light-dark(hsl(200deg 20% 90%), hsl(200deg 30% 20%));
	--color-on-banner: light-dark(hsl(200deg 10% 5%), hsl(200deg 20% 98%));

	--color-box: light-dark(hsl(0deg 0% 100%), hsl(200deg 30% 15%));
	--color-on-box: light-dark(hsl(200deg 30% 20%), hsl(200deg 20% 96%));

	--color-button: light-dark(hsl(200deg 20% 40%), hsl(200deg 20% 30%));
	--color-on-button: light-dark(hsl(200deg 20% 98%), hsl(200deg 20% 95%));

	--color-border-divider: light-dark(hsl(200deg 30% 80%), hsl(200deg 30% 20%));
	--color-border-interactive: light-dark(hsl(200deg 30% 40%), hsl(200deg 30% 40%));

	--color-warning: light-dark(hsl(40deg 80% 80%), hsl(40deg 40% 20%));
	--color-on-warning: light-dark(hsl(40deg 50% 10%), hsl(40deg 50% 90%));

	color-scheme: light dark;
}
