:root {
	--border-divider: 0.0625rem solid var(--color-border-divider);
	--border-interactive: 0.0625rem solid var(--color-border-interactive);
	--border-radius: 0.25rem;

	--outline-focus: 0.125rem solid var(--color-outline-focus);

	color-scheme: light dark;
}

@media (prefers-color-scheme: light) {
	:root {
		--color-background: hsl(200deg 30% 95%);
		--color-text: hsl(200deg 10% 10%);

		/* Banner */
		--color-banner: hsl(200deg 20% 88%);
		--color-on-banner: hsl(200deg 10% 5%);

		/* Box */
		--color-box: hsl(0deg 0% 100%);
		--color-on-box: hsl(200deg 30% 20%);

		/* Button */
		--color-button: hsl(200deg 20% 40%);
		--color-on-button: hsl(200deg 20% 98%);

		/* Border */
		--color-border-divider: hsl(200deg 30% 80%);
		--color-border-interactive: hsl(200deg 30% 40%);

		/* Outline */
		--color-outline-focus: hsl(40deg 90% 50%);

		/* Status */
		--color-warning: hsl(40deg 80% 80%);
		--color-on-warning: hsl(40deg 50% 10%);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: hsl(200deg 5% 5%);
		--color-text: hsl(200deg 5% 90%);

		/* Banner */
		--color-banner: hsl(200deg 30% 20%);
		--color-on-banner: hsl(200deg 20% 98%);

		/* Box */
		--color-box: hsl(200deg 30% 15%);
		--color-on-box: hsl(200deg 20% 96%);

		/* Button */
		--color-button: hsl(200deg 20% 30%);
		--color-on-button: hsl(200deg 20% 95%);

		/* Border */
		--color-border-divider: hsl(200deg 30% 20%);
		--color-border-interactive: hsl(200deg 30% 40%);

		/* Outline */
		--color-outline-focus: hsl(40deg 90% 50%);

		/* Status */
		--color-warning: hsl(40deg 40% 20%);
		--color-on-warning: hsl(40deg 50% 90%);
	}
}
