/* Headings */

h1 {
	margin-block-end: 2rem;
}

/* Links */

a {
	color: currentcolor;
	text-underline-offset: 0.125em;
}

/* Lists */

ul:not([class]) {
	padding-inline-start: 1rem;
}

dl:not([class]) {
	display: grid;
	gap: 1rem;

	dt {
		font-size: 0.875rem;
		margin-block-end: 0.125rem;
	}
}
