{% macro render_attributes(attributes = {}) %}
	{% for key, value in attributes %}
		{{ key }}="{{ value }}"
	{% endfor %}
{% endmacro %}

{% macro text(label, id, name, value = "", attributes) %}
	<div class="Input Input--text">
		<label for="{{ id }}">
			{{ label }}
		</label>
		<input
			id="{{ id }}"
			name="{{ name }}"
			value="{{ value }}"
			{{ render_attributes(attributes) }}
		>
	</div>
{% endmacro %}

{% macro checkbox(label, foreground, background, id, name, value, attributes) %}
	<div
		class="Input Input--checkbox"
		style="
			--foreground: {{ foreground }};
			--background: {{ background }};
		"
	>
		<input
			type="checkbox"
			id="{{ id }}"
			name="{{ name }}"
			value="{{ value }}"
			{{ render_attributes(attributes) }}
		>
		<label for="{{ id }}">
			<span>{{ label|safe }}</span>
		</label>
	</div>
{% endmacro %}
