{% macro renderAttributes(attributes = {}) %}
	{% for key, value in attributes %}
		{{ key }}="{{ value }}"
	{% endfor %}
{% endmacro %}

{% macro text(label, id, name, value = "", attributes) %}
	<div class="Input Input--text">
		<label for="{{ id }}">
			{{ label }}
		</label>
		<input
			id="{{ id }}"
			name="{{ name }}"
			value="{{ value }}"
			{{ renderAttributes(attributes) }}
		>
	</div>
{% endmacro %}

{% macro checkbox(label, foreground, background, icon, id, name, value, attributes) %}
	<div
		class="Input Input--checkbox"
		style="
			{% if foreground %}
				--foreground: {{ foreground }};
			{% endif %}
			{% if background %}
				--background: {{ background }};
			{% endif %}
		"
	>
		<label for="{{ id }}">
			<input
				type="checkbox"
				id="{{ id }}"
				name="{{ name }}"
				value="{{ value }}"
				{{ renderAttributes(attributes) }}
			>
			{% if icon %}
				{% include "icons/" ~ icon ~ ".svg" %}
			{% endif %}
			<span>{{ label|safe }}</span>
		</label>
	</div>
{% endmacro %}
