{% import "input.njk" as input %}
{% import "note.njk" as note %}
{% from "skip-link.njk" import skip_link %}

<flag-search class="Search">
	{{ skip_link(
		target = "flags",
		text = "Skip filters"
	) }}

	<form
		class="Search-form"
		aria-labelledby="filters"
	>
		<h2 id="filters">Filters</h2>

		{{ input.text(
			label = "Name",
			id = "name",
			name = "name",
			attributes = {
				autocomplete: "off"
			}
		) }}

		<fieldset>
			<legend>Colors</legend>

			<div class="Fieldset-columns">
				{% for id, color in colors %}
					{{ input.checkbox(
						label = color.name,
						foreground = color.onSwatch,
						background = color.swatch,
						id = "color-" ~ id,
						name = "colors",
						value = id
					) }}
				{% endfor %}
			</div>
		</fieldset>

		<fieldset>
			<legend>Patterns</legend>

			<div class="Fieldset-columns">
				{% for id, pattern in patterns %}
					{{ input.checkbox(
						label = pattern.name,
						id = "pattern-" ~ id,
						name = "patterns",
						value = id
					) }}
				{% endfor %}
			</div>
		</fieldset>

		<div>
			<button type="reset">
				Clear filters
			</button>
		</div>
	</form>

	<section
		class="Search-flags"
		aria-labelledby="flags"
	>
		<h2 id="flags">Flags</h2>

		<ul class="Search-list" role="list">
			{% for id, flag in flags %}
				<flag-search-item
					role="listitem"
					class="Search-item"
					data-name="{{ flag.name }}"
					data-aliases="{{ flag.aliases }}"
					data-colors="{{ flag.colors }}"
					data-patterns="{{ flag.patterns }}"
				>
					{% set width = 178 %}
					{% set height = (width / flag.aspectRatio)|round %}
					{% set descriptionID = id ~ "-flag-description" %}
					<img
						class="Search-itemFlag"
						src="/img/{{ id }}.svg"
						alt="{{ flag.name }} flag"
						width="{{ width }}"
						height="{{ height }}"
						loading="lazy"
						aria-describedby="{{ descriptionID }}"
					>
					<a class="Search-itemLink" href="/{{ id }}/">{{ flag.name }}</a>
					<p id="{{ descriptionID }}" hidden>{{ flag.alt }}</p>
				</flag-search-item>
			{% endfor %}
		</ul>

		{{ note.warning(
			classes = ["Search-noResult"],
			text = "No flags match your filter combination. Please deselect filters or change your name search."
		) }}
	</section>
</flag-search>
