{% set isHome = page.url == "/" -%}

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{% if not isHome %}{{ title }} | {% endif %}flag.is</title>

		<script type="speculationrules">{% include "speculation-rules.json" %}</script>
		<link rel="stylesheet" href="/css/main.css">
		<script type="module" src="/js/main.js"></script>

		{% if description %}
			<meta name="description" content="{{ description }}">
		{% endif %}

		<meta name="generator" content="{{ eleventy.generator }}">

		<link rel="icon" href="/favicon.ico" sizes="32x32">
		<link rel="icon" href="/icons/icon.svg" type="image/svg+xml">
		<link rel="apple-touch-icon" href="/icons/apple-touch-icon.png">
		<link rel="manifest" href="/manifest.webmanifest">

		<meta property="og:site_name" content="flag.is">
		<meta property="og:type" content="website">
		<meta property="og:url" content="{{ base }}{{ page.url }}">
		<meta property="og:title" content="{{ title }}">
		<meta property="og:locale" content="en">

		{% if social.image %}
			<meta property="og:image" content="{{ base }}/{% image social.image, social.imagePreset %}">
			<meta property="og:image:alt" content="{{ social.imageAlt }}">
		{% endif %}
	</head>
	<body>
		<main class="u-container">
			{% if not isHome %}
				<flag-back>
					<a href="/">Back</a>
				</flag-back>
			{% endif %}

			{% if title %}
				<h1>{{ title }}</h1>
			{% endif %}

			{% block content %}{% endblock %}
		</main>

		{% include "footer.njk" %}
	</body>
</html>
