{% set flag = flags[id] %}
{% set alt = flag.name ~ " flag" %}

{% if flag.alt %}
	{% set alt = flag.name ~ " flag. " ~ flag.alt %}
{% endif %}

{% if flag.aliases or flag.description %}
	<dl>
		{% if flag.aliases %}
			<div>
				<dt>Also known as:</dt>
				<dd>{{ flag.aliases|join(", ") }}</dd>
			</div>
		{% endif %}
		{% if flag.description %}
			<div>
				<dt>Description:</dt>
				<dd>{{ flag.description }}</dd>
			</div>
		{% endif %}
	</dl>
{% endif %}

<section>
	<h2>Flag</h2>

	{% set width = 300 %}
	<img
		src="/img/{{ id }}.svg"
		alt="{{ alt }}"
		width="{{ width }}"
		height="{{ (width / flag.aspect_ratio)|round }}"
	>
</section>

{% if flag.links %}
	<section>
		<h2>Links</h2>

		<ul>
			{% for link in flag.links %}
				<li>
					<a href="{{ link.href }}">{{ link.title }}</a>
				</li>
			{% endfor %}
		</ul>
	</section>
{% endif %}

{% if flag.colors %}
	<section>
		<h2>Colors</h2>

		<ul>
			{% for color in flag.colors %}
				<li>{{ colors[color].name }}</li>
			{% endfor %}
		</ul>
	</section>
{% endif %}

{% if flag.patterns %}
	<section>
		<h2>Patterns</h2>

		<ul>
			{% for pattern in flag.patterns %}
				<li>{{ patterns[pattern].name|safe }}</li>
			{% endfor %}
		</ul>
	</section>
{% endif %}

<section>
	<h2>Edit</h2>

	<ul>
		<li>
			<a href="{{ config.repository }}/edit/main/data/flags/{{ id }}.yaml">Edit metadata</a>
		</li>
		<li>
			<a href="{{ config.repository }}/edit/main/public/img/{{ id }}.svg">Edit flag</a>
		</li>
	</ul>
</section>
