{% set flag = flags[id] %}

<dl>
	{% if flag.aliases %}
		<div>
			<dt>Also known as:</dt>
			<dd>{{ flag.aliases|join(", ") }}</dd>
		</div>
	{% endif %}
	<div>
		<dt>Description:</dt>
		<dd>{{ flag.description }}</dd>
	</div>
</dl>

<section>
	<h2>Flag</h2>

	<p>
		{% set width = 300 %}
		{% set height = (width / flag.aspectRatio)|round %}
		<img
			src="/img/{{ id }}.svg"
			alt="{{ flag.name }} flag. {{ flag.alt }}"
			width="{{ width }}"
			height="{{ height }}"
		>
	</p>

	<p>
		<a href="/img/{{ id }}.svg" download="{{ flag.name }}.svg">Download flag</a>
	</p>
</section>

{% if flag.links %}
	<section>
		<h2>Links</h2>

		<ul>
			{% for link in flag.links %}
				<li>
					<a href="{{ link.href }}">{{ link.title }}</a>
				</li>
			{% endfor %}
		</ul>
	</section>
{% endif %}

{% if categories %}
	<h2>Related</h2>

	{% for category in categories %}
		<h3>{{ category.name }}</h3>

		<ul class="Search-list">
			{% for relatedFlag in category.flags %}
				{% set relatedWidth = 178 %}
				{% set relatedHeight = (relatedWidth / relatedFlag.aspectRatio)|round %}
				<li class="Search-item">
					<img
						class="Search-itemFlag"
						src="/img/{{ relatedFlag.id }}.svg"
						alt="{{ relatedFlag.name }} flag"
						width="{{ relatedWidth }}"
						height="{{ relatedHeight }}"
						loading="lazy"
					>
					<a class="Search-itemLink" href="{{ relatedFlag.url }}">{{ relatedFlag.name }}</a>
				</li>
			{% endfor %}
		</ul>
	{% endfor %}
{% endif %}

<details>
	<summary>
		<h2>Meta</h2>
	</summary>

	{% if flag.colors %}
		<section>
			<h3>Colors</h3>

			<ul>
				{% for color in flag.colors %}
					<li>{{ colors[color].name }}</li>
				{% endfor %}
			</ul>
		</section>
	{% endif %}

	{% if flag.patterns %}
		<section>
			<h3>Patterns</h3>

			<ul>
				{% for pattern in flag.patterns %}
					<li>{{ patterns[pattern].name|safe }}</li>
				{% endfor %}
			</ul>
		</section>
	{% endif %}

	<section>
		<h3>Edit</h3>

		<ul>
			<li>
				<a href="{{ config.repository }}/edit/main/data/flags/{{ id }}.yaml">Edit metadata</a>
			</li>
			<li>
				<a href="{{ config.repository }}/edit/main/public/img/{{ id }}.svg">Edit flag</a>
			</li>
		</ul>
	</section>
</details>
