{% set flag = flags[id] %}

<dl>
	{% if flag.aliases %}
		<div>
			<dt>Also known as:</dt>
			<dd>{{ flag.aliases|join(", ") }}</dd>
		</div>
	{% endif %}
	<div>
		<dt>Description:</dt>
		<dd>{{ flag.description }}</dd>
	</div>
</dl>

<section>
	<h2>Flag</h2>

	<p>
		{% set width = 300 %}
		{% set height = (width / flag.aspectRatio)|round %}
		<img
			src="/img/{{ id }}.svg"
			alt="{{ flag.name }} flag. {{ flag.alt }}"
			width="{{ width }}"
			height="{{ height }}"
		>
	</p>

	<p>
		<a href="/img/{{ id }}.svg" download="{{ flag.name }}">Download flag</a>
	</p>
</section>

{% if flag.links %}
	<section>
		<h2>Links</h2>

		<ul>
			{% for link in flag.links %}
				<li>
					<a href="{{ link.href }}">{{ link.title }}</a>
				</li>
			{% endfor %}
		</ul>
	</section>
{% endif %}

{% if flag.colors %}
	<section>
		<h2>Colors</h2>

		<ul>
			{% for color in flag.colors %}
				<li>{{ colors[color].name }}</li>
			{% endfor %}
		</ul>
	</section>
{% endif %}

{% if flag.patterns %}
	<section>
		<h2>Patterns</h2>

		<ul>
			{% for pattern in flag.patterns %}
				<li>{{ patterns[pattern].name|safe }}</li>
			{% endfor %}
		</ul>
	</section>
{% endif %}

{% if flag.related %}
	<section>
		<h2>Related</h2>

		<ul class="Search-list">
			{% for relatedID in flag.related %}
				{% set relatedFlag = flags[relatedID] %}
				{% set relatedWidth = 178 %}
				{% set relatedHeight = (relatedWidth / relatedFlag.aspectRatio)|round %}
				<li class="Search-item">
					<img
						class="Search-itemFlag"
						src="/img/{{ relatedID }}.svg"
						alt="{{ relatedFlag.name }} flag"
						width="{{ relatedWidth }}"
						height="{{ relatedHeight }}"
						loading="lazy"
					>
					<a class="Search-itemLink" href="/{{ relatedID }}/">{{ relatedFlag.name }}</a>
				</li>
			{% endfor %}
		</ul>
	</section>
{% endif %}

<section>
	<h2>Edit</h2>

	<ul>
		<li>
			<a href="{{ config.repository }}/edit/main/data/flags/{{ id }}.yaml">Edit metadata</a>
		</li>
		<li>
			<a href="{{ config.repository }}/edit/main/public/img/{{ id }}.svg">Edit flag</a>
		</li>
	</ul>
</section>
