---
layout: false
permalink: robots.txt
eleventyExcludeFromCollections: true
---
# Block AI bots
# https://darkvisitors.com

User-agent: anthropic-ai
Disallow: /

User-agent: Bytespider
Disallow: /

User-agent: CCBot
Disallow: /

User-agent: ChatGPT-User
Disallow: /

User-agent: cohere-ai
Disallow: /

User-agent: Diffbot
Disallow: /

User-Agent: FacebookBot
Disallow: /

User-agent: Google-Extended
Disallow: /

User-agent: GPTBot
Disallow: /

User-agent: omgili
Disallow: /

# Announce sitemap

Sitemap: {{ base }}/sitemap.xml
